@using Dos.ORM.Web.App_Common.Mvc
@{
    ViewBag.Title = "日志信息管理";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<div id="toolBarMain" class="list-toolbar">
    <div class="row">
        @Html.ExtAuthBtn()
    </div>
    <div class="row">
        @{
            if (ViewBag.IsSuperAdmin)
            {
                <text>所属公司：</text>
                @Html.ExtDropDownC("ComId", new { width = 100, url = "/MsSys/Company/GetCompanyList", queryParams = "{curComId:'',haveComId:1}", onChange = "onSelectChg" })
            }
        }
        日志类型：
        @Html.ExtDropDown("LogTypeName", (SelectList)ViewBag.LogTypeNames, new { width = 100, onChange = "onSelectChg" })
        操作类型：
        @Html.ExtDropDown("OptTypeName", (SelectList)ViewBag.OptTypeNames, new { width = 100, onChange = "onSelectChg" })
        操作结果：
        @Html.ExtDropDown("OptResultName", (SelectList)ViewBag.OptResultNames, new { width = 100, onChange = "onSelectChg" })
        操作模块名称：@Html.ExtTextBox("txtKeyName", new { width = 100 })
    </div>
</div>
<script>
    var gridObj, gdKeyId = 'LogId';

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        gridObj = $('#dg');

        QBO.plu.grid.init(gridObj, {
            singleSelect: false,
            keyId: gdKeyId,
            url: '/MsSys/LogInfo/GetList',
            colFro: [
                { field: gdKeyId, checkbox: true, title: '选择' },
                { field: 'LogTypeName', title: '日志类型', sortable: true },
                { field: 'OptUserName', title: '操作人员', sortable: true },
                { field: 'OptModuleName', title: '操作模块', sortable: true },
                { field: 'OptModulePath', title: '操作地址' },
                { field: 'OptTypeName', title: '操作类型' },
                { field: 'OptResultName', title: '操作结果' },
                { field: 'OptTime', title: '操作时间', width: 200, sortable: true }
            ],
            col: [
                { field: 'OptSystem', title: '操作系统', width: 200 },
                { field: 'Browser', title: '浏览器', width: 200 },
                { field: 'IP', title: 'IP地址', width: 200 },
                { field: 'Mac', title: 'MAC地址', width: 200 },
                {
                    field: 'Desc', title: '日志描述', width: 200, formatter: function (value, row) {
                        return $('<div>' + value + '</div>').text();
                    }
                }
            ],
            toolbar: 'toolBarMain'
        });
    }

    function initEvent() {
        $('#lbtnExport').tooltip({ content: '导出日志', position: 'right' });

        $('#lbtnView').linkbutton({ onClick: function () { doHanlder('view'); } });
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
        $('#lbtnDelete').linkbutton({ onClick: function () { doHanlder('delete'); } });
        $('#lbtnExport').linkbutton({ onClick: function () { doHanlder('export'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'view':
                QBO.frm.doPage('view', { title: '查看部门', url: '/MsSys/LogInfo/Detail', width: 500, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'search':
                queryData();
                break;
            case 'delete':
                QBO.frm.doPage('delete', { url: '/MsSys/LogInfo/DeleteData', dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'export':
                exportData();
                break;
        }
    }

    //导出日志
    function exportData() {
        QBO.plu.ajax({
            url: '/MsSys/LogInfo/ExportList',
            data: {
                logType: $('#LogTypeName').combobox('getValue'),
                optType: $('#OptTypeName').combobox('getValue'),
                optResult: $('#OptResultName').combobox('getValue'),
                keyName: $('#txtKeyName').textbox('getValue'),
                comId: '@ViewBag.IsSuperAdmin' === 'False' ? -1 : $('#ComId').combobox('getValue')
            }
        }, function (data) {
            QBO.dia.msg(data.Msg, {
                icon: 'right',
                endCallback: function () {
                    QBO.frm.downFile(data.Data, '日志信息.xlsx');
                }
            });
        });
    }

    function onSelectChg(newValue, oldValue) {
        queryData();
    }

    //查询数据
    function queryData() {
        QBO.plu.grid.query(gridObj, {
            logType: $('#LogTypeName').combobox('getValue'),
            optType: $('#OptTypeName').combobox('getValue'),
            optResult: $('#OptResultName').combobox('getValue'),
            keyName: $('#txtKeyName').textbox('getValue'),
            comId: '@ViewBag.IsSuperAdmin' === 'False' ? -1 : $('#ComId').combobox('getValue')
        });
    }
</script>
