@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>四川成都明华精品装修公司-联系我们！</title>
    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script src="~/Content/Components/Flexslider/jquery.flexslider.min.js"></script>
    <link href="~/Content/Components/Flexslider/flexslider.css" rel="stylesheet" />
    <link href="~/Content/Css/Areas/MsDec/dec.core.css" rel="stylesheet" />
</head>
<body>
    <!--顶部信息 begin-->
    <div class="dec-panel dec-top">
        <div class="dec-main">
            <div class="dec-top-left">明华装修</div>
            <div class="dec-top-right">
                <a href="javascript:;">咨询热线：13551369057</a>
                <span></span>
                <a href="javascript:;" class="dec-color">我要装修</a>
                <span></span>
                <a href="javascript:;">注册</a>
                <a href="javascript:;">登录</a>
            </div>
        </div>
    </div>
    <!--顶部信息 end-->
    <!--导航信息 begin-->
    <div class="dec-panel dec-nav">
        <div class="dec-main">
            @Html.ActionLink("首页", "Index", new { area = "MsDec", controller = "Home" })
            @Html.ActionLink("效果图", "Index", new { area = "MsDec", controller = "EffPic" })
            @Html.ActionLink("装修攻略", "Index", new { area = "MsDec", controller = "Strategy" })
            @Html.ActionLink("装修报价", "Index", new { area = "MsDec", controller = "Offer" })
            @Html.ActionLink("预约登记", "Index", new { area = "MsDec", controller = "Sub" })
            @Html.ActionLink("关于我们", "Index", new { area = "MsDec", controller = "About" }, new { @class = "active" })
            @Html.ActionLink("联系我们", "Index", new { area = "MsDec", controller = "Contact" })

            <a href="javascript:;">手机装修</a>
        </div>
    </div>
    <!--导航信息 end-->
    <!--子导航信息 begin-->
    <div class="dec-panel dec-subnav">
        <div class="dec-main">
            @Html.ActionLink("首页", "Index", new { area = "MsDec", controller = "Home" })>
            @Html.ActionLink("关于我们", "Index", new { area = "MsDec", controller = "About" })
        </div>
    </div>
    <!--子导航信息 end-->
    <!--关于我们 begin-->
    <div class="dec-panel dec-about">
        <div class="dec-main">
            <img class="about-img1" src="~/Content/Images/Areas/MsDec/com-bg1.jpg" />
            <!--以下内容为后台编辑器的内容-->
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 31px; color: rgb(92, 92, 92); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Arial, 宋体, sans-serif; white-space: normal; widows: 1; background-color: rgb(255, 255, 255);">
                土巴兔—互联网装修领导者（中国建筑装饰行业协会认证），土巴兔由深圳市彬讯科技有限公司创办，总部位于深圳市南山区科技园，是国家级的高新技术企业。<br />　　自2008年创办以来，土巴兔始终秉承“用心服务用户来赢得口碑和利益”的经营理念，并始终处于高速而稳健的发展态势。截止目前，土巴兔已开通250个城市分站，汇聚全国近7万多家正规装修公司、95万名室内设计师，已成立北京、上海、广州、武汉、长沙、南京、杭州、厦门、福州等27家分公司，当前拥有员工超过1500人。
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 31px; color: rgb(92, 92, 92); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Arial, 宋体, sans-serif; white-space: normal; widows: 1; background-color: rgb(255, 255, 255);">
                根据百度发布的一份报告显示，中国每天大约有500万人检索装修、家具、建材相关的信息，而土巴兔平台当前每天有超过400万的独立用户，也就是说每2个中国人寻找装修、家具、建材相关的信息，就有超过一个会通过土巴兔平台来完成。2015年，土巴兔获得了全球著名投资基金红杉资本、经纬创投等机构的C轮2亿美金投资，这也是迄今为止，装修家居电子商务领域获得的一笔高额投资。
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 31px; color: rgb(92, 92, 92); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Arial, 宋体, sans-serif; white-space: normal; widows: 1; background-color: rgb(255, 255, 255);">
                土巴兔致力于让天下没有烦心的装修。为实现这个使命，全体土巴兔人不断努力，推动装修、建材、家居市场的规范化，改变着数千万家庭的装修方式和置家理念，为用户创造卓越的互联网装修体验。作为互联网装修企业，土巴兔将通过O2O的模式，为传统装修及家居领域带来新的变革，不断为用户创造价值，推动行业发展。
            </p>
            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 31px; color: rgb(92, 92, 92); font-family: &quot;Microsoft YaHei&quot;, 微软雅黑, Arial, 宋体, sans-serif; white-space: normal; widows: 1; background-color: rgb(255, 255, 255);">
                打造开放、共赢的装修家居生态系统，推动行业更阳光、更透明。土巴兔用实际行动获得众多的关注，相继受到央视网、光明网、新华网、凤凰网、第一财经周刊、21世纪商业评论、IT经理世界、36氪 等多家媒体的关注与报道。2011年土巴兔和腾讯、华为一并入选《深圳质量报告》当作质量工程典范；2014年当选《中国企业家》主办的“未来之星”100强企业、荣膺“全国工商联家居电商专委会执行会长单位”、“中国互联网诚信示范企业”荣誉称号，同年还获得“21世纪中国最佳商业模式奖”。
            </p>
        </div>
    </div>
    <!--关于我们 end-->
    <!--底部 begin-->
    <div class="dec-panel dec-bottom">
        <div class="dec-main">
            <div class="bottom-nav">
                @Html.ActionLink("关于我们", "Index", new { area = "MsDec", controller = "About" })|
                @Html.ActionLink("联系我们", "Index", new { area = "MsDec", controller = "Contact" })|
                <a href="javascript:;">友情链接</a>|
                <a href="javascript:;">帮助中心</a>|
                <a href="javascript:;">意见反馈</a>|
                <a href="javascript:;">法律声明</a>
            </div>
            <div>
                技术支持：Quber，邮箱：qubernet@163.com
            </div>
            <div>
                © 2016 qubernet.com 保留所有权利
            </div>
        </div>
    </div>
    <!--底部 end-->
</body>
</html>