@using Dos.ORM.Web.App_Common.Mvc
@model Dos.ORM.Model.Business.BUS_NewsInfo
@{
    ViewBag.Title = "新闻信息管理";
    Layout = "~/Views/BasePage/_LayoutMsSysDetailSingle.cshtml";
}
<script src="~/Content/Components/UEditor/ueditor.config.js"></script>
<script src="~/Content/Components/UEditor/ueditor.all.min.js"></script>
<script src="~/Content/Components/UEditor/lang/zh-cn/zh-cn.js"></script>
<link href="~/Content/Components/ColorPicker/css/colorpicker.css" rel="stylesheet" />
<script src="~/Content/Components/ColorPicker/js/colorpicker.js"></script>
<form class="easyui-form" id="frmMain" method="post">

    <div class="easyui-tabs" style="width:100%;height:350px;">
        <div title="基本信息">
            <table class="frm-tb">
                <tbody>
                    @{
                        if (ViewBag.IsSuperAdmin)
                        {
                            <tr class="tr-top-none">
                                <td>所属公司：</td>
                                <td colspan="3">
                                    @Html.ExtComboTreeFor(m => m.CompanyId, new { required = true, width = 823, url = "/MsSys/Company/GetChooseCompanys", queryParams = "{type:2}", onLoadSuccess = "companyLod", onClick = "companyChg" })
                                </td>
                            </tr>
                        }
                        var topTrClass = !ViewBag.IsSuperAdmin ? "tr-top-none" : "";
                    }
                    <tr class="@topTrClass">
                        <td>新闻标题：</td>
                        <td>
                            @Html.ExtTextBoxFor(m => m.Title, new { required = true, validType = "maxLength[100]", width = 325 })
                        </td>
                        <td>副标题：</td>
                        <td>
                            @Html.ExtTextBoxFor(m => m.Subtitle, new { validType = "maxLength[200]", width = 325 })
                        </td>
                    </tr>
                    <tr>
                        <td>所属类型：</td>
                        <td>
                            @Html.ExtDropDownFor(m => m.NewsTypeId, (List<SelectListItem>)ViewBag.NewsTypeIds, new { required = true, width = 325, valueField = "Value", textField = "Text" })
                        </td>
                        <td>关键字：</td>
                        <td>
                            @Html.ExtTextBoxFor(m => m.Keyword, new { validType = "maxLength[200]", width = 325 })
                        </td>
                    </tr>
                    <tr>
                        <td>摘要：</td>
                        <td colspan="3">
                            @Html.ExtTextBoxFor(m => m.Summary, new { validType = "maxLength[400]", width = 823,  multiline = true })
                        </td>
                    </tr>
                    <tr>
                        <td>详细信息：</td>
                        <td colspan="3">
                            <script id="editor" type="text/plain" style="width: 822px; height: 200px;">
                                @Html.Raw(Model.DtlInfo)
                            </script>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div title="其他信息">
            <table class="frm-tb">
                <tbody>
                    <tr class="tr-top-none">
                        <td>新闻图片：</td>
                        <td colspan="3">
                            @Html.HiddenFor(m => m.ImgPath)
                            @Html.ExtNumberSpinnerFor(m => m.ImgWidth, new { min = 200, max = 400, value = 200, buttonText = "图片宽度" })
                            @Html.ExtNumberSpinnerFor(m => m.ImgHeight, new { min = 100, max = 400, value = 100, buttonText = "图片高度" })
                            @Html.ExtImgFor(m => m.ImgPath)
                            <a href="javascript:;" class="easyui-linkbutton" id="lbtnPhoto" data-options="iconCls:'icon-image',plain:true">点击修改</a>
                        </td>
                    </tr>
                    <tr>
                        <td>标题颜色：</td>
                        <td>
                            @Html.ExtTextBoxFor(m => m.TitleColor, new { validType = "maxLength[50]" })
                            <a href="javascript:;" class="easyui-linkbutton" id="lbtnColorPicker" data-options="iconCls:'icon-colors',plain:true">点击选择</a>
                        </td>
                        <td>标题大小：</td>
                        <td>@Html.ExtNumberSpinnerFor(m => m.TitleFont, new { min = 8, max = 60 })</td>
                    </tr>
                    <tr>
                        <td>来源名称：</td>
                        <td>@Html.ExtTextBoxFor(m => m.Source, new { validType = "maxLength[50]" })</td>
                        <td>来源链接：</td>
                        <td>@Html.ExtTextBoxFor(m => m.SourceLink, new { validType = "url" })</td>
                    </tr>
                    <tr>
                        <td>是否置顶：</td>
                        <td>
                            @Html.ExtRadioBoxList(m => m.IsTop, (SelectList)ViewBag.StatusType, new { id = "thisIsTop" })
                        </td>
                        <td>是否启用：</td>
                        <td>
                            @Html.ExtRadioBoxList(m => m.IsEnable, (SelectList)ViewBag.StatusType, new { id = "thisIsEnable" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script>
    var thisForm;
    var ueObj;

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        thisForm = $('#frmMain');
    }

    function initEvent() {
        ueObj = QBO.plu.ue.init();

        $('#lbtnPhoto').on('click', function () {
            QBO.frm.openWin('/MsSys/Common/UploadImg?folder=BusNewsInfo&isCut=1&cutWidth=200&cutHeight=100&oldPath=@Model.ImgPath', { title: '上传图片', width: 1000, height: 450 });
        });

        //颜色选择
        $('#lbtnColorPicker').ColorPicker({
            color: '#000',
            onBeforeShow: function () {
            },
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500); return false;
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500); return false;
            },
            onSubmit: function (hsb, hex, rgb, el) {
                $(el).ColorPickerHide();
            },
            onChange: function (hsb, hex, rgb) {
                $('#TitleColor').textbox('setValue', '#' + hex);
            }
        });
    }

    function saveData() {
        QBO.frm.submit(thisForm, {
            url: '/MsBus/NewsInfo/SaveData',
            onSubmit: function (param) {
                param.DtlInfo = QBO.plu.ue.get(ueObj);
                param.IsTop = $('#thisIsTop').checkbox('getValue').IsTop;
                param.IsEnable = $('#thisIsEnable').checkbox('getValue').IsEnable;
            },
            success: function (data) {
                QBO.dia.msg(data.Msg, {
                    icon: data.Result === 100 ? 'right' : 'error',
                    endCallback: function () {
                        if (data.Result === 100) { QBO.frm.closeWin(function () { QBO.frm.getWin().reloadGridData(); }); }
                    }
                });
            }
        });
    }

    function setImg(imgPath) {
        $('#ImgPathShow').attr('src', imgPath);
        $('#ImgPath').val(imgPath);
    }

    //初始化公司加载公司其下的横幅分类
    function companyLod(node, data) {
        loadComNewsTypes($('#CompanyId').combotree('getValue'));
    }

    //选项公司后加载公司其下的横幅分类
    function companyChg(node) {
        $('#NewsTypeId').combobox('setValue', '');
        loadComNewsTypes(node.id);
    }

    function loadComNewsTypes(comId) {
        if (comId.length <= 0) return;

        QBO.plu.ajax({
            url: '/MsBus/NewsInfo/GetNewsTypes',
            data: { comId: comId }
        }, function (data) {
            if (data.Result === 100) {
                $('#NewsTypeId').combobox('loadData', data.Data);
            }
        });
    }
</script>