@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>四川成都明华精品装修公司-打造属于您完美的住宅！</title>
    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script src="~/Content/Components/Flexslider/jquery.flexslider.min.js"></script>
    <link href="~/Content/Components/Flexslider/flexslider.css" rel="stylesheet" />
    <link href="~/Content/Css/Areas/MsDec/dec.core.css" rel="stylesheet" />
</head>
<body>
    <!--顶部信息 begin-->
    <div class="dec-panel dec-top">
        <div class="dec-main">
            <div class="dec-top-left">明华装修</div>
            <div class="dec-top-right">
                <a href="javascript:;">咨询热线：13551369057</a>
                <span></span>
                <a href="javascript:;" class="dec-color">我要装修</a>
                <span></span>
                <a href="javascript:;">注册</a>
                <a href="javascript:;">登录</a>
            </div>
        </div>
    </div>
    <!--顶部信息 end-->
    <!--导航信息 begin-->
    <div class="dec-panel dec-nav">
        <div class="dec-main">
            @Html.ActionLink("首页", "Index", new { area = "MsDec", controller = "Home" })
            @Html.ActionLink("效果图", "Index", new { area = "MsDec", controller = "EffPic" }, new { @class = "active" })
            @Html.ActionLink("装修攻略", "Index", new { area = "MsDec", controller = "Strategy" })
            @Html.ActionLink("装修报价", "Index", new { area = "MsDec", controller = "Offer" })
            @Html.ActionLink("预约登记", "Index", new { area = "MsDec", controller = "Sub" })
            @Html.ActionLink("关于我们", "Index", new { area = "MsDec", controller = "About" })
            @Html.ActionLink("联系我们", "Index", new { area = "MsDec", controller = "Contact" })

            <a href="javascript:;" id="lbtnQrcode">手机装修</a>
        </div>
    </div>
    <!--导航信息 end-->
    <!--手机装修-二维码 begin-->
    <div class="dec-qrcode">
        <div class="tip">手机扫描可浏览</div>
        <div class="qrcode"><img src="~/Content/Images/Areas/MsDec/nav-qrcode.png" /></div>
    </div>
    <!--手机装修-二维码 end-->
    <!--效果图 begin-->
    <div class="dec-panel dec-effpic">
        <div class="dec-main">

            <ul>
                <li class="effpic-li">
                    <a href="javascript:;">
                        <img class="effpic-img" src="http://pic.to8to.com/hot/508_5628.jpg?1474855813" />
                        <div class="effpic-txt">
                            <h3>图片一</h3>
                        </div>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic.to8to.com/smallcase/1408/28/20140828_92668b92962527a4fb66wc3nhnwy0ojh_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic.to8to.com/smallcase/1408/28/20140828_28cda8d1889beb8aa1d2il4ghm7wxmuj_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic1.to8to.com/smallcase/1408/28/20140828_3bc0a1f0326bbb2bcbcfxsc9x93fp3fc_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic.to8to.com/smallcase/1409/29/20140929_b413277b06235f243e2bj8cwxh3adq97_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic1.to8to.com/smallcase/1408/28/20140828_b47114564f899b5f8e7654laco6rw0y2_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic1.to8to.com/smallcase/1409/29/20140929_d9184a753ef81cc06ac7esrxix6xtx0f_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic.to8to.com/smallcase/1409/28/20140928_98910b84986ef95ecb20w6g9vah0od4l_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic1.to8to.com/smallcase/1408/05/20140805_323b38fcf3fa1d72233d9vxo5cmm6lp7_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic1.to8to.com/smallcase/1408/05/20140805_516f7268625ab1b37198z204p6q7fve2_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic1.to8to.com/smallcase/1406/10/20140610_499a777562490d71616860zwwcn2nl67_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic.to8to.com/smallcase/1407/16/20140716_ef2461846d079fec08fceny149ffcmmv_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic.to8to.com/smallcase/1407/16/20140716_a17b8b4bbe6a7a1d0ce8sc5vejs4pb2t_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic.to8to.com/smallcase/1405/14/20140514_474f5b6cf00617c7dc52oy74am11yut4_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic.to8to.com/smallcase/1609/30/20160930_9f8e94df73242b92faa9nq3ety45d36k_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>
            <ul>
                <li class="effpic-li">
                    <img class="effpic-img" src="http://pic.to8to.com/smallcase/1609/30/20160930_cd1429d83ced203526546qc2uzcrpsog_284.jpg" />
                    <div class="effpic-txt"><h3>图片一</h3></div>
                </li>
            </ul>

        </div>
    </div>
    <!--效果图 end-->
    <!--底部 begin-->
    <div class="dec-panel dec-bottom">
        <div class="dec-main">
            <div class="bottom-nav">
                @Html.ActionLink("关于我们", "Index", new { area = "MsDec", controller = "About" })|
                @Html.ActionLink("联系我们", "Index", new { area = "MsDec", controller = "Contact" })|
                <a href="javascript:;">友情链接</a>|
                <a href="javascript:;">帮助中心</a>|
                <a href="javascript:;">意见反馈</a>|
                <a href="javascript:;">法律声明</a>
            </div>
            <div>
                技术支持：Quber，邮箱：qubernet@163.com
            </div>
            <div>
                © 2016 qubernet.com 保留所有权利
            </div>
        </div>
    </div>
    <!--底部 end-->
</body>
</html>
<script>
    $(function () {
        $(".effpic-li")
            .hover(function () {
                $(this).find(".effpic-img").stop().animate({ "width": 310, "height": 210 });
            },
                function () {
                    $(this).find(".effpic-img").stop().animate({ "width": 280, "height": 200 });
                });

        $('#lbtnQrcode').hover(function () {
            var thisBtnOffset = $(this).offset();
            $('.dec-qrcode').css({ left: thisBtnOffset.left, top: thisBtnOffset.top - $(window).scrollTop() + 43 }).fadeIn("fast");
        }, function () {
            $('.dec-qrcode').fadeOut("fast");
        });
    });
</script>