@using Dos.ORM.Web.App_Common.Mvc
@model Dos.ORM.Model.Business.BUS_BannerInfo
@{
    ViewBag.Title = "横幅信息管理";
    Layout = "~/Views/BasePage/_LayoutMsSysDetailSingle.cshtml";
}
<form class="easyui-form" id="frmMain" method="post">
    <table class="frm-tb">
        <tbody>
            @{
                if (ViewBag.IsSuperAdmin)
                {
                    <tr>
                        <td>所属公司：</td>
                        <td colspan="3">
                            @Html.ExtComboTreeFor(m => m.CompanyId, new { required = true, width = 200, url = "/MsSys/Company/GetChooseCompanys", queryParams = "{type:2}", onLoadSuccess = "companyLod", onClick = "companyChg" })
                        </td>
                    </tr>
                }
            }
            <tr>
                <td>横幅标题：</td>
                <td>
                    @Html.ExtTextBoxFor(m => m.BannerInfoName, new { required = true, validType = "maxLength[100]" })
                </td>
                <td>所属类型：</td>
                <td>
                    @Html.ExtDropDownFor(m => m.BannerTypeId, (List<SelectListItem>)ViewBag.BannerTypeIds, new { required = true, valueField = "Value", textField = "Text" })
                </td>
            </tr>
            <tr>
                <td>横幅图片：</td>
                <td colspan="3">
                    @Html.HiddenFor(m => m.ImgPath)
                    @Html.ExtNumberSpinnerFor(m => m.ImgWidth, new { min = 200, max = 1500, value = 200, buttonText = "图片宽度" })
                    @Html.ExtNumberSpinnerFor(m => m.ImgHeight, new { min = 100, max = 600, value = 100, buttonText = "图片高度" })
                    @Html.ExtImgFor(m => m.ImgPath)
                    <a href="javascript:;" class="easyui-linkbutton" id="lbtnPhoto" data-options="iconCls:'icon-image',plain:true">点击修改</a>
                </td>
            </tr>
            <tr>
                <td>排序号：</td>
                <td>
                    @Html.ExtNumberSpinnerFor(m => m.SortNo)
                </td>
                <td>链接地址：</td>
                <td>@Html.ExtTextBoxFor(m => m.Url, new { validType = "url" })</td>
            </tr>
            <tr>
                <td>是否置顶：</td>
                <td>
                    @Html.ExtRadioBoxList(m => m.IsTop, (SelectList)ViewBag.StatusType, new { id = "thisIsTop" })
                </td>
                <td>是否启用：</td>
                <td>
                    @Html.ExtRadioBoxList(m => m.IsEnable, (SelectList)ViewBag.StatusType, new { id = "thisIsEnable" })
                </td>
            </tr>
            <tr>
                <td>描述：</td>
                <td colspan="3">
                    @Html.ExtTextBoxFor(m => m.Desc, new { validType = "maxLength[400]", width = 582, height = 80, multiline = true })
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script>
    var thisForm;

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        thisForm = $('#frmMain');
    }

    function initEvent() {
        $('#lbtnPhoto').on('click', function () {
            QBO.frm.openWin('/MsSys/Common/UploadImg?folder=BusBannerInfo&isCut=1&cutWidth=200&cutHeight=100&oldPath=@Model.ImgPath', { title: '上传图片', width: 1000, height: 450 });
        });
    }

    function saveData() {
        QBO.frm.submit(thisForm, {
            url: '/MsBus/BannerInfo/SaveData',
            onSubmit: function (param) {
                param.IsTop = $('#thisIsTop').checkbox('getValue').IsTop;
                param.IsEnable = $('#thisIsEnable').checkbox('getValue').IsEnable;
            },
            success: function (data) {
                QBO.dia.msg(data.Msg, {
                    icon: data.Result === 100 ? 'right' : 'error',
                    endCallback: function () {
                        if (data.Result === 100) { QBO.frm.closeWin(function () { QBO.frm.getWin().reloadGridData(); }); }
                    }
                });
            }
        });
    }

    function setImg(imgPath) {
        $('#ImgPathShow').attr('src', imgPath);
        $('#ImgPath').val(imgPath);
    }

    //初始化公司加载公司其下的横幅分类
    function companyLod(node, data) {
        loadComBannerTypes($('#CompanyId').combotree('getValue'));
    }

    //选项公司后加载公司其下的横幅分类
    function companyChg(node) {
        $('#BannerTypeId').combobox('setValue', '');
        loadComBannerTypes(node.id);
    }

    function loadComBannerTypes(comId) {
        if (comId.length <= 0) return;

        QBO.plu.ajax({
            url: '/MsBus/BannerInfo/GetBannerTypes',
            data: { comId: comId }
        }, function (data) {
            if (data.Result === 100) {
                $('#BannerTypeId').combobox('loadData', data.Data);
            }
        });
    }
</script>