@using System.Web.Optimization
@using Dos.ORM.Web.App_Common.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>平台后台管理系统</title>
    <link href="~/Content/Components/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <link href="~/Content/Components/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <script src="~/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Content/Components/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/Components/Layer/layer.min.js"></script>
    @Styles.Render("~/MsSys/CssTheme")
    <script src="~/Content/Js/Base/base.core.js"></script>
    <script src="~/Content/Js/Base/base.loading.js"></script>
</head>
<body class="easyui-layout login-body">
    <div data-options="region:'north',border:false" class="login-north"></div>
    <div data-options="region:'center',border:false" class="login-center">
        <div class="login-panel">
            <form class="easyui-form" id="frmMain" method="post">
                <table class="frm-tb">
                    <tbody>
                        <tr>
                            <td colspan="2" class="login-title">
                                平台后台管理系统
                            </td>
                        </tr>
                        <tr>
                            <td>登录账户：</td>
                            <td>
                                @Html.ExtTextBox("txtAcc", new { required = true, isShowFill = false, width = 270, height = 35, iconCls = "fa fa-user", validType = "maxLength[50]" })
                            </td>
                        </tr>
                        <tr>
                            <td>登录密码：</td>
                            <td>
                                @Html.ExtTextBox("txtPwd", new { required = true, isShowFill = false, type = "password", width = 270, height = 35, iconCls = "fa fa-key", validType = "maxLength[50]" })
                            </td>
                        </tr>
                        <tr>
                            <td>验证码：</td>
                            <td>
                                @Html.ExtTextBox("txtCode", new { required = true, tipPosition = "bottom", isShowFill = false, width = 179, height = 35, iconCls = "fa fa-tasks", validType = "maxLength[50]" })
                                <img id="valiCode" class="login-img" src="@Url.Action("ValidateCode", "Login")?valiId=@DateTime.Now.Ticks" alt="ValiCode" title="点击刷新验证码，不区分大小写" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="login-lbtn">
                                <a href="javascript:;" id="lbtnLogin"><i class="fa fa-user"></i>登 录</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div data-options="region:'south',border:false" class="login-south">
        <div class="login-footer">版权所有 &copy; 成都科信交通科技开发有限公司，网址：www.cdkxc.com</div>
        <div class="login-footer">公司地址：成都市高新区天府四街长虹科技大厦B座1104</div>
    </div>
</body>
</html>
<script>
    var thisForm;

    $(function () {
        //$('#txtAcc').textbox('setValue', 'quber');
        //$('#txtPwd').textbox('setValue', '123456');

        initData();
        initEvent();
    });

    function initData() {
        thisForm = $('#frmMain');
    }

    function initEvent() {
        QBO.com.setCenter('.login-panel', 500, 385);

        $('#valiCode').on('click', function () {
            refreshValiCode();
        });

        $('#lbtnLogin').on('click', function () {
            chkLogin();
        });

        document.onkeydown = function (e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode === 13) {
                $('#lbtnLogin').click();
            }
        }
    }

    //刷新验证码
    function refreshValiCode() {
        var codeSrc = $("#valiCode").attr("src"),
            codeSrcShort = codeSrc.substring(0, codeSrc.indexOf('?')) + '?valiId=';
        $("#valiCode").attr("src", codeSrcShort + Math.random());
    }

    function chkLogin() {
        QBO.frm.submit(thisForm, {
            chkLogin: false,
            doType: '验证',
            //loadType: 2,
            url: '/MsSys/Login/CheckLogin',
            onSubmit: function (param) {
                param.Account = $('#txtAcc').textbox('getValue');
                param.Pwd = $('#txtPwd').textbox('getValue');
                param.DtlInfo = $('#txtCode').textbox('getValue');
            },
            success: function (data) {
                if (data.Result === 300) {
                    location.href = '/MsSys/Main';
                }
                else {
                    QBO.dia.msg(data.Msg, { icon: 'error', shift: 6 });
                }               
            }
        });
    }
</script>
