@model Dos.ORM.Model.Business.TW_SYJZBDto
@{
    //ViewBag.Title = "KY_HNT";
    string[] pic = ViewBag.pic;
    string[] labels = ViewBag.txtLabel;
    string[] txtDatas = ViewBag.txtData1;
    Layout = "";
}
<!DOCTYPE>
<html>
<head>
    <title></title>
    <meta name="keywords" content="GetDataOddIncreaseEvenDecrease">
    <meta content="True" name="vs_snapToGrid">
    <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
    <meta content="C#" name="CODE_LANGUAGE">
    <meta content="JavaScript" name="vs_defaultClientScript">
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema"> 
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/dismrclick.js"></script>
    <script src="~/Scripts/input.js"></script>
    <script src="~/Content/Js/Module/Business/functions.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <link href="~/Content/Css/Areas/MsSys/ReportFormStyle.css" rel="stylesheet" />
    <style media="print" type="text/css">
        .noprint {
            display: none;
        }
    </style>    
  

    <script>
        Chart.defaults.global.tooltips.enabled = false;
        Chart.defaults.global.animation.duration = 0;
        Chart.defaults.global.defaultFontColor = 'rgba(0,0,0,1)';
        var options = {
            legend: { display: false },
            scales: {
                xAxes: [{
                    ticks: {
                        maxTicksLimit: 20
                    }
                }]
            }
        }
        var chartData = {
            labels: '',
            datasets: [
                {
                    data: '',
                    fill: false,
                    lineTension: 0,
                    borderWidth: 1,
                    borderColor: 'rgba(0,0,0,1)',
                    pointRadius: 0,
                    spanGaps: true
                }
            ]
        }
        window.onload=function () {
            for (var i = 1; i <= 3; i++) {
                if ($('#txtLabel' + i).val() != '' && $('#txtData' + i).val() != '') {
                    $('#link' + i).css('display', 'none');
                    $('#canvas' + i).css('display', 'block');

                    chartData.labels = $('#txtLabel' + i).val().split(',');
                    chartData.datasets[0].data = $('#txtData' + i).val().split(',');
                    try {
                        var ctx = document.getElementById('canvas' + i).getContext('2d');
                        var myNewChart = new Chart(ctx, { type: 'line', data: chartData, options: options });
                    } catch (e) {

                    }
                }
            }
            $('canvas').each(function() {
                $(this).css('height', '205px');
            });
        };
    </script>
</head>
<body bgcolor="#FFFFFF" style="background-color: #FFFFFF">

    <form id="form1"   >
        <table style="WIDTH: 640px; height: 50px; text-align: center;" align="center">
            <tr>
                <td><span style="font-size: 16pt; margin: 0 auto;">钢筋试验</span></td>
            </tr>
        </table>
        <table id="fromxml" cellpadding="1" cellspacing="0" bordercolor="#000000" style="BORDER-RIGHT: 2px solid black; BORDER-TOP: 2px solid black; BORDER-LEFT: 2px solid black; BORDER-BOTTOM: 2px solid black; BORDER-COLLAPSE: collapse; WIDTH: 640px; height: 900px; text-align: center;" align="center" border="1">
            <tr>
                <td style="width: 16%; height: 40px;">样品编号</td>
                <td style="width: 34%;">
                    <input type="text" id="typbh" style="width: 100%"  value="@Model.SJBH"   readonly="readonly" />
                </td>
                <td style="width: 16%;">试验日期</td>
                <td>
                    <input type="text" id="tsyrq" style="width: 100%"  value="@Model.SYRQ"   readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td style="height: 40px;">牌号</td>
                <td>
                    <input type="text" id="tph" style="width: 100%"  value="@Model.PZBM"   readonly="readonly" />
                </td>
                <td>公称直径</td>
                <td>
                    <input type="text" id="tgczj" style="width: 100%"   value="@Model.GCZJ"  readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td style="height: 40px;">工程部位及用途</td>
                <td colspan="3"  >   <label style="width: 100%;font-weight: normal;">@Model.CJMC</label> </td>
               
            </tr>
             
            <tr>
                <td colspan="4" style="padding: 0px;">
                    <table id="Table2" style="WIDTH: 100%; border: none; HEIGHT: 100%; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none"
                           bordercolor="black" cellspacing="0" cellpadding="1" align="center" border="1" frame="void">
                        <tr>
                            <td style="height: 40px; width: 16%;">试件编号</td>
                            <td>抗拉荷载(kN)</td>
                            <td>抗拉强度(MPa)</td>
                            <td>屈服荷载(kN)</td>
                            <td class="lastco">屈服强度(MPa)</td>
                        </tr>
                        @for (int i = 0; i < 3; i++)
                        {
                            <tr>
                                <td style="height: 40px;">@(i+1)</td>
                                <td>
                                    <input type="text" id="tklhz@(i+1)" style="width: 100%" value="@((Model.Wnjs.Count > i) ? Model.Wnjs[i].LZ : "") "   readonly="readonly" />
                                </td>
                                <td>
                                    <input type="text" id="tklqd@(i+1)" style="width: 100%" value="@(Model.Wnjs.Count > i ? Model.Wnjs[i].LZQD : "") "   readonly="readonly" />
                                </td>
                                <td>
                                    <input type="text" id="tqfhz@(i+1)" style="width: 100%" value="@(Model.Wnjs.Count > i ? Model.Wnjs[i].QFLZ : "") "   readonly="readonly" />
                                </td>
                                <td class="lastco"> 
                                    <input type="text" id="tqfqd@(i+1)" style="width: 100%" value="@(Model.Wnjs.Count > i ? Model.Wnjs[i].QFQD : "") "   readonly="readonly" />
                                </td>
                            </tr>
                        } 

                        <tr>
                            <td colspan="5" style="padding: 0px;">
                                <table id="Table1" style="WIDTH: 100%; border: none; HEIGHT: 100%; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none"
                                       bordercolor="black" cellspacing="0" cellpadding="1" align="center" border="1" frame="void">
                                   @for (int i = 0; i < 3; i++)
                                   {
                                       <tr>
                                           <td style="width: 16%;">
                                               试<br />
                                               件<br />
                                               @(i+1)<br />
                                               的<br />
                                               数<br />
                                               据<br />
                                               图<br />
                                               形
                                           </td>
                                           <td class="lastco" style="width: 536px;height:206px;">
                                               <a id="link@(i+1)" title="查看原图" target="_blank">
                                                   <img id="pic@(i+1)" src="@pic[i] " alt="" style="width: 90%; max-height: 210px;" />
                                               </a>
                                               <input id="txtLabel@(i+1)" style="display: none;" value="@labels[i]" />
                                               <input id="txtData@(i+1)" style="display: none;" value="@txtDatas[i]" />
                                               <canvas id="canvas@(i+1)" style="width: 460px; height: 210px; display: none; margin: 0 auto;"></canvas>
                                           </td>
                                       </tr>
                                   } 
                                   
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>


