@model Dos.ORM.Model.Business.TW_SYJZBDto
@{
    string[] pic = ViewBag.pic;
    string[] labels = ViewBag.txtLabel;
    string[] txtDatas = ViewBag.txtData1;
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <title></title>
    <meta name="keywords" content="GetDataOddIncreaseEvenDecrease">
    <meta content="True" name="vs_snapToGrid">
    <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
    <meta content="C#" name="CODE_LANGUAGE">
    <meta content="JavaScript" name="vs_defaultClientScript">
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/dismrclick.js"></script>
    <script src="~/Scripts/input.js"></script>
    <link href="~/Content/assets/global/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/Components/FontAwesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Css/Areas/MsSys/dashboard.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/Components/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Content/Js/Module/Business/functions.js"></script>
    <link href="~/Content/Css/Areas/MsSys/ReportFormStyle.css" rel="stylesheet" />

    <style media="print" type="text/css">
        .noprint {
            display: none;
        }
    </style>
   
    <script>
        Chart.defaults.global.tooltips.enabled = false;
        Chart.defaults.global.animation.duration = 0;
        Chart.defaults.global.defaultFontColor = 'rgba(0,0,0,1)';
        var options = {
            legend: { display: false },
            scales: {
                xAxes: [{
                    ticks: {
                        maxTicksLimit: 20
                    }
                }]
            }
        }
        var chartData = {
            labels: '',
            datasets: [
                {
                    data: '',
                    fill: false,
                    lineTension: 0,
                    borderWidth: 1,
                    borderColor: 'rgba(0,0,0,1)',
                    pointRadius: 0,
                    spanGaps: true
                }
            ]
        }
         window.onload= function () {
            for (var i = 1; i <= 6; i++) {
                if ($('#txtLabel' + i).val() != '' && $('#txtData' + i).val() != '') {
                    $('#link' + i).css('display', 'none');
                    $('#canvas' + i).css('display', 'block');

                    chartData.labels = $('#txtLabel' + i).val().split(',');
                    chartData.datasets[0].data = $('#txtData' + i).val().split(',');
                    try {
                        var ctx = document.getElementById('canvas' + i).getContext('2d');
                        var myNewChart = new Chart(ctx, { type: 'line', data: chartData, options: options });
                    } catch (e) {

                    }
                }
            }
        };
    </script>
</head>
<body bgcolor="#FFFFFF" style="background-color: #FFFFFF">
    <form id="form1">
        <table style="WIDTH: 640px; height: 50px; text-align: center;" align="center">
            <tr>
                <td><span style="font-size: 16pt; margin: 0 auto;">砂浆抗压强度试验</span></td>
            </tr>
        </table>
        <table id="fromxml" cellpadding="1" cellspacing="0" bordercolor="#000000" style="BORDER-RIGHT: 2px solid black; BORDER-TOP: 2px solid black; BORDER-LEFT: 2px solid black; BORDER-BOTTOM: 2px solid black; BORDER-COLLAPSE: collapse; WIDTH: 640px; height: 930px; text-align: center;" align="center" border="1">
            <tr>
                <td style="width: 16%; height: 25px;">样品编号</td>
                <td style="width: 34%;">
                    <input type="text" id="typbh" style="width: 100%" value="@Model.SJBH" readonly="readonly" />
                </td>
                <td style="width: 16%;">试验日期</td>
                <td>
                    <input type="text" id="tsyrq" style="width: 100%" value="@Model.SYRQ" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td style="height: 25px;">强度等级</td>
                <td>
                    <input type="text" id="tqddj" style="width: 100%" value="@Model.SJQD" readonly="readonly" />
                </td>
                <td>龄期(d)</td>
                <td>
                    <input type="text" id="txlq" style="width: 100%" value="@Model.LQ" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td style="height: 25px;">试验尺寸</td>
                <td>
                    <input type="text" id="tsycc" style="width: 100%" value="@Model.SJCC" readonly="readonly" />
                </td>
                <td>工程部位及用途</td>
                <td width="34%" colspan="3"  >   <label style="width: 100%;font-weight: normal;">@Model.CJMC</label> </td>
            </tr>
         
            <tr>
                <td colspan="4" style="padding: 0px;">
                    <table id="Table2" style="WIDTH: 100%; border: none; HEIGHT: 100%; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none"
                           bordercolor="black" cellspacing="0" cellpadding="1" align="center" border="1" frame="void">
                        <tr>
                            <td style="height: 25px; width: 16%;">试件编号</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td class="lastco">6</td>
                        </tr>
                        <tr>
                            <td style="height: 25px;">荷载(kN)</td>
                            @for (int i = 0; i < 5; i++)
                            {

                                <td>
                                    <input type="text" id="thz@(i+1)" style="width: 100%" value="@(Model.Yljs.Count > i && Model.Yljs[i] != null ? Model.Yljs[i].KYLZ : "")" readonly="readonly" />
                                </td>
                            }
                            <td class="lastco">
                                <input type="text" id="thz6" style="width: 100%" value="@(Model.Yljs.Count > 5 && Model.Yljs[5] != null ? Model.Yljs[5].KYLZ : "")" readonly="readonly" />
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 25px;">强度(MPa)</td>
                            @for (int i = 0; i < 5; i++)
                            {

                                <td>
                                    <input type="text" id="tqd@(i+1)" style="width: 100%" value="@(Model.Yljs.Count>i?(Model.Yljs[i]!=null?Model.Yljs[i].KYQD:""):"")" readonly="readonly" />
                                </td>
                            }
                            <td class="lastco">
                                <input type="text" id="tqd6" style="width: 100%" readonly="readonly" value="@(Model.Yljs.Count>5?(Model.Yljs[5]!=null?Model.Yljs[5].KYQD:""):"")" />
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 25px;">强度测定值(MPa)</td>
                            <td colspan="6" class="lastco">
                                <input type="text" id="tqdcdz" style="width: 100%" value="@Model.QDDBZ" readonly="readonly" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="padding: 0px;">
                                <table id="Table1" style="WIDTH: 100%; border: none; HEIGHT: 100%; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none"
                                       bordercolor="black" cellspacing="0" cellpadding="1" align="center" border="1" frame="void"> 
                                    @for (int i = 0; i < 3; i++)
                                    {
                                        <tr>
                                            <td style="width: 5%;">
                                                试<br />
                                                件<br />
                                                @(i * 2 + 1)<br />
                                                的<br />
                                                数<br />
                                                据<br />
                                                图<br />
                                                形
                                            </td>
                                            <td style="width: 45%;">
                                                <a id="kylink(@i*2)+1" title="查看原图" target="_blank">
                                                    <img id="kypic@(i*2+1)" src="@(pic[i*2+1]) " alt="" style="width: 90%; max-height: 210px;" />
                                                </a>
                                                <input id="txtkyLabel@(i*2+1)" style="display: none;" value="@labels[1+i*2]" />
                                                <input id="txtkyData@(i*2+1)" style="display: none;" value="@txtDatas[1+i*2]" />
                                                <canvas id="kycanvas@(i*2+1)" style="width: 95%; display: none; margin: 0 auto;"></canvas>
                                            </td>
                                            <td style="width: 5%;">
                                                试<br />
                                                件<br />
                                                @(i * 2 + 2)<br />
                                                的<br />
                                                数<br />
                                                据<br />
                                                图<br />
                                                形
                                            </td>
                                            <td class="lastco">
                                                <a id="kylink @(i*2+2)" title="查看原图" target="_blank">
                                                    <img id="kypic @(i*2+2)" src="@pic[1+i*2] " alt="" style="width: 90%; max-height: 210px;" />
                                                </a>
                                                <input id="txtkyLabel@(i*2+2)" style="display: none;" value="@labels[1+i*2]" />
                                                <input id="txtkyData@(i*2+2)" style="display: none;" value="@txtDatas[1+i*2]" />
                                                <canvas id="kycanvas@(i*2+2)" style="width: 95%; display: none; margin: 0 auto;"></canvas>
                                            </td>
                                        </tr>
                                    }
 
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>