@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>四川成都明华精品装修公司-打造属于您完美的住宅！</title>
    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script src="~/Content/Components/Flexslider/jquery.flexslider.min.js"></script>
    <link href="~/Content/Components/Flexslider/flexslider.css" rel="stylesheet" />
    <link href="~/Content/Css/Areas/MsDec/dec.core.css" rel="stylesheet" />
</head>
<body>
    <!--顶部信息 begin-->
    <div class="dec-panel dec-top">
        <div class="dec-main">
            <div class="dec-top-left">明华装修</div>
            <div class="dec-top-right">
                <a href="javascript:;">咨询热线：13551369057</a>
                <span></span>
                <a href="javascript:;" class="dec-color">我要装修</a>
                <span></span>
                <a href="javascript:;">注册</a>
                <a href="javascript:;">登录</a>
            </div>
        </div>
    </div>
    <!--顶部信息 end-->
    <!--导航信息 begin-->
    <div class="dec-panel dec-nav">
        <div class="dec-main">
            @Html.ActionLink("首页", "Index", new { area = "MsDec", controller = "Home" }, new { @class = "active" })
            @Html.ActionLink("效果图", "Index", new { area = "MsDec", controller = "EffPic" })
            @Html.ActionLink("装修攻略", "Index", new { area = "MsDec", controller = "Strategy" })
            @Html.ActionLink("装修报价", "Index", new { area = "MsDec", controller = "Offer" })
            @Html.ActionLink("预约登记", "Index", new { area = "MsDec", controller = "Sub" })
            @Html.ActionLink("关于我们", "Index", new { area = "MsDec", controller = "About" })
            @Html.ActionLink("联系我们", "Index", new { area = "MsDec", controller = "Contact" })

            <a href="javascript:;" id="lbtnQrcode">手机装修</a>
        </div>
    </div>
    <!--导航信息 end-->
    <!--手机装修-二维码 begin-->
    <div class="dec-qrcode">
        <div class="tip">手机扫描可浏览</div>
        <div class="qrcode"><img src="~/Content/Images/Areas/MsDec/nav-qrcode.png" /></div>
    </div>
    <!--手机装修-二维码 end-->
    <!--banner begin-->
    <div class="dec-panel dec-banner">
        <div class="dec-main">
            <div class="dec-banner-left">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="http://pic.to8to.com//hotarea/day_160407/20160407_109acf524333a71fdf436wHgMLJRkarH.jpg" />
                            <div class="flex-caption">标题信息1</div>
                        </li>
                        <li>
                            <img src="http://pic.to8to.com//hotarea/day_160909/20160909_ede76975f19cd83fe822zp19wEb3i2rF.jpg" />
                            <p class="flex-caption">标题信息2</p>
                        </li>
                        <li>
                            <img src="http://pic.to8to.com/hot/288_5902.jpg?1475221085" />
                            <p class="flex-caption">标题信息3</p>
                        </li>
                        <li>
                            <img src="http://pic.to8to.com/hot/288_8190.jpg?1475143048" />
                            <p class="flex-caption">标题信息4</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dec-banner-right">
                <div class="banner-tip">行业▪公告▪动态</div>
                <div class="banner-info">
                    <a href="javascript:;"><span class="info-name">不同材质的墙纸铺贴有哪些问题需要注意</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">布艺的床好打理吗？方法是什么？</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">原来选窗帘这么多讲究！以前买的时候怎么没想到！</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">除尘地垫价格以及分类介绍</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">空调选购使用常见误区</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">家具沙发摆放攻略</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">炒股为何赔 6大不利股民的家居风水</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">炒股为何赔 61大不利股民的家居风水</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">炒股为何赔 62大不利股民的家居风水</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">炒股为何赔 63大不利股民的家居风水</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">炒股为何赔 64大不利股民的家居风水</span><span class="info-time">2016-10-02</span></a>
                    <a href="javascript:;"><span class="info-name">炒股为何赔 65大不利股民的家居风水</span><span class="info-time">2016-10-02</span></a>
                </div>
            </div>
        </div>
    </div>
    <!--banner end-->
    <!--效果图 begin-->
    <div class="dec-panel dec-flow">
        <div class="dec-main">
            <div class="flow-tip">装修流程</div>
            <div class="flow-list">
                <a href="javascript:;">
                    <i class="flow-s1"></i><span>收房量房</span>
                </a>
                <a href="javascript:;">
                    <i class="flow-s2"></i><span>前期准备</span>
                </a>
                <a href="javascript:;">
                    <i class="flow-s3"></i><span>选明华装修</span>
                </a>
                <a href="javascript:;">
                    <i class="flow-s4"></i><span>设计阶段</span>
                </a>
                <a href="javascript:;">
                    <i class="flow-s5"></i><span>材料选购</span>
                </a>
                <a href="javascript:;">
                    <i class="flow-s6"></i><span>施工阶段</span>
                </a>
                <a href="javascript:;">
                    <i class="flow-s7"></i><span>竣工验收</span>
                </a>
                <a href="javascript:;">
                    <i class="flow-s8"></i><span>软装配饰</span>
                </a>
                <a href="javascript:;">
                    <i class="flow-s9"></i><span>装修保障</span>
                </a>
            </div>
        </div>
    </div>
    <!--效果图 end-->
    <!--效果图 begin-->
    <div class="dec-panel dec-eff">
        <div class="dec-main">
            <div class="eff-tip">装修效果图</div>
            <div class="eff-list">
                <ul>
                    <li>
                        <img src="http://pic.to8to.com/hot/508_5628.jpg?1474855813" alt="con1" />
                        <div class="eff-txt">
                            <h3>图片一</h3>
                            <p>内容一内容一内容一内容一内容一内容一</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://pic.to8to.com/hot/508_5629.jpg?1474855915" />
                        <div class="eff-txt">
                            <h3>图片二</h3>
                            <p>内容二内容二内容二内容二内容二内容二</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://pic1.to8to.com/smallcase/1408/29/20140829_6d66b84f50f51e5fb31bh0mx9407qy4j_284.jpg" />
                        <div class="eff-txt">
                            <h3>图片三</h3>
                            <p>内容三内容三内容三内容三内容三内容三</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://pic1.to8to.com/smallcase/1408/29/20140829_6d66b84f50f51e5fb31bh0mx9407qy4j_284.jpg" />
                        <div class="eff-txt">
                            <h3>图片三</h3>
                            <p>内容三内容三内容三内容三内容三内容三</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://pic1.to8to.com/smallcase/1408/29/20140829_6d66b84f50f51e5fb31bh0mx9407qy4j_284.jpg" />
                        <div class="eff-txt">
                            <h3>图片三</h3>
                            <p>内容三内容三内容三内容三内容三内容三</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://pic1.to8to.com/smallcase/1408/29/20140829_6d66b84f50f51e5fb31bh0mx9407qy4j_284.jpg" />
                        <div class="eff-txt">
                            <h3>图片三</h3>
                            <p>内容三内容三内容三内容三内容三内容三</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://pic1.to8to.com/smallcase/1408/29/20140829_6d66b84f50f51e5fb31bh0mx9407qy4j_284.jpg" />
                        <div class="eff-txt">
                            <h3>图片三</h3>
                            <p>内容三内容三内容三内容三内容三内容三</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://pic1.to8to.com/smallcase/1408/29/20140829_6d66b84f50f51e5fb31bh0mx9407qy4j_284.jpg" />
                        <div class="eff-txt">
                            <h3>图片三</h3>
                            <p>内容三内容三内容三内容三内容三内容三</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--效果图 end-->
    <!--效果图 begin-->
    <div class="dec-panel dec-str">
        <div class="dec-main">
            <div class="str-tip">装修攻略</div>
            <div class="str-list">
                <div class="str-sam">
                    <div class="sam-tip">
                        装修流程
                    </div>
                    <div class="sam-link">
                        <a href="javascript:;">▪砖砌隔断已过时！看看别人家都怎么玩</a>
                        <a href="javascript:;">▪打衣柜用免漆板好还是喷漆好？老师傅有话说</a>
                        <a href="javascript:;">▪经验需知！家装拆改5大细节注意事项</a>
                        <a href="javascript:;">▪来看看职场避小人的办公桌摆件吧</a>
                        <a href="javascript:;">▪可以在办公桌上养鱼么</a>
                    </div>
                </div>
                <div class="str-sam">
                    <div class="sam-tip sam-tip-b">
                        选材手册
                    </div>
                    <div class="sam-link">
                        <a href="javascript:;">▪砖砌隔断已过时！看看别人家都怎么玩</a>
                        <a href="javascript:;">▪打衣柜用免漆板好还是喷漆好？老师傅有话说</a>
                        <a href="javascript:;">▪经验需知！家装拆改5大细节注意事项</a>
                        <a href="javascript:;">▪来看看职场避小人的办公桌摆件吧</a>
                        <a href="javascript:;">▪可以在办公桌上养鱼么</a>
                        <a href="javascript:;">▪可以在办公桌上养鱼么</a>
                        <a href="javascript:;">▪可以在办公桌上养鱼么</a>
                        <a href="javascript:;">▪可以在办公桌上养鱼么</a>
                    </div>
                </div>
                <div class="str-sam">
                    <div class="sam-tip  sam-tip-c">
                        装修风水
                    </div>
                    <div class="sam-link">
                        <a href="javascript:;">▪砖砌隔断已过时！看看别人家都怎么玩</a>
                        <a href="javascript:;">▪打衣柜用免漆板好还是喷漆好？老师傅有话说</a>
                        <a href="javascript:;">▪经验需知！家装拆改5大细节注意事项</a>
                        <a href="javascript:;">▪来看看职场避小人的办公桌摆件吧</a>
                        <a href="javascript:;">▪可以在办公桌上养鱼么</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--效果图 end-->
    <!--底部 begin-->
    <div class="dec-panel dec-bottom">
        <div class="dec-main">
            <div class="bottom-nav">
                @Html.ActionLink("关于我们", "Index", new { area = "MsDec", controller = "About" })|
                @Html.ActionLink("联系我们", "Index", new { area = "MsDec", controller = "Contact" })|
                <a href="javascript:;">友情链接</a>|
                <a href="javascript:;">帮助中心</a>|
                <a href="javascript:;">意见反馈</a>|
                <a href="javascript:;">法律声明</a>
            </div>
            <div>
                技术支持：Quber，邮箱：qubernet@163.com
            </div>
            <div>
                © 2016 qubernet.com 保留所有权利
            </div>
        </div>
    </div>
    <!--底部 end-->
</body>
</html>
<script>
    $(function () {
        $('.flexslider')
            .flexslider({
                animation: "fade",
                slideshowSpeed: 5000,
                controlNav: false
            });


        $('.eff-list ul li')
            .hover(function () {
                $(this).find(".eff-txt").stop().animate({ height: 200 }, 200);
                $(this).find(".eff-txt h3").stop().animate({ paddingTop: "60px" }, 200);
            },
                function () {
                    $(this).find(".eff-txt").stop().animate({ height: 45 }, 200);
                    $(this).find(".eff-txt h3").stop().animate({ paddingTop: "0px" }, 200);
                });

        $('#lbtnQrcode').hover(function () {
            var thisBtnOffset = $(this).offset();
            $('.dec-qrcode').css({ left: thisBtnOffset.left, top: thisBtnOffset.top - $(window).scrollTop() + 43 }).fadeIn("fast");
        }, function () {
            $('.dec-qrcode').fadeOut("fast");
        });
    });
</script>