@using Dos.ORM.Web.App_Common.Mvc
@model Dos.ORM.Model.System.SYS_Button
@{
    ViewBag.Title = "按钮管理";
    Layout = "~/Views/BasePage/_LayoutMsSysDetailSingle.cshtml";
}
<form class="easyui-form" id="frmMain" method="post">
    <table class="frm-tb">
        <tbody>
            <tr>
                <td>框架类型：</td>
                <td>
                    @Html.ExtDropDownFor(m => m.FwType, (SelectList)ViewBag.FwTypes, new { required = true })@Html.ExtFrmFill()
                </td>
                <td>按钮类型：</td>
                <td>
                    @Html.ExtDropDownFor(m => m.ButtonType, (SelectList)ViewBag.OperateBtnTypes, new { required = true })@Html.ExtFrmFill()
                </td>
            </tr>
            @*<tr>
                    <td>按钮集合：</td>
                    <td>
                        @Html.ExtDropDownFor(m => m.ButtonId, (SelectList)ViewBag.OperateBtns, new { required = true, width = 400, onChange = "btnTypeChg" })@Html.ExtFrmFill()
                    </td>
                </tr>*@
            <tr>
                <td>按钮名称：</td>
                <td>
                    @*@Html.ExtTextBoxFor(m => m.ButtonName, new { required = true, validType = "maxLength[50]", width = 400, @readonly = true })*@
                    @Html.ExtDropDownFor(m => m.ButtonName, (SelectList)ViewBag.OperateBtns, new { required = true, onChange = "btnTypeChg" })@Html.ExtFrmFill()
                </td>
                <td>按钮Id：</td>
                <td>
                    @Html.ExtTextBoxFor(m => m.ButtonIdName, new { required = true, validType = "maxLength[50]" })
                </td>
            </tr>
            <tr>
                <td>标识名称：</td>
                <td>
                    @Html.ExtTextBoxFor(m => m.MarkName, new { required = true, validType = "maxLength[50]" })
                </td>
                <td>图标名称：</td>
                <td>
                    @Html.ExtHiddenFor(m => m.IconPath)
                    @Html.ExtTextBoxFor(m => m.IconName, new { required = true, validType = "maxLength[50]", @readonly = true, buttonIcon = Model.IconName })
                    <a href="javascript:;" class="easyui-linkbutton" id="lbtnChooseIcon" data-options="iconCls:'fa fa-search-plus',plain:true">点击选择</a>
                    <a href="javascript:;" class="easyui-linkbutton" id="lbtnClearIcon" data-options="iconCls:'fa fa-times',plain:true">清除</a>
                </td>
            </tr>
            <tr>
                <td>事件名称：</td>
                <td>
                    @Html.ExtTextBoxFor(m => m.OnClick, new { validType = "maxLength[50]" })
                </td>
                <td>链接事件：</td>
                <td>
                    @Html.ExtTextBoxFor(m => m.HrefClick, new { validType = "maxLength[200]" })
                </td>
            </tr>
            <tr>
                <td>排序号：</td>
                <td colspan="3">
                    @Html.ExtNumberSpinnerFor(m => m.SortNo, new { })
                </td>
            </tr>
            <tr>
                <td>按钮描述：</td>
                <td colspan="3">@Html.ExtTextBoxFor(m => m.Desc, new { validType = "maxLength[200]", multiline = true, width = 400 })</td>
            </tr>
        </tbody>
    </table>
</form>
<script>
    var thisForm, oType = '@ViewBag.oType';

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        thisForm = $('#frmMain');
        if (oType !== 'add') {
            $('#ButtonId').combobox('readonly');
        } else {
            $('#ButtonId').textbox('setValue', '');
            $('#ButtonIdName').textbox('setValue', 'lbtn');
        }
    }

    function initEvent() {
        $('#lbtnChooseIcon').on('click', function () {
            QBO.frm.openWin('/MsSys/Common/ChooseIconFontAwesome?type=button', { title: '选择图标', width: 650, height: 450 });
        });
        $('#lbtnClearIcon').on('click', function () {
            $('#IconName').textbox('setValue', '');
            $('#IconPath').val('');
        });
    }

    function saveData() {
        QBO.frm.submit(thisForm, {
            url: '/MsSys/Button/SaveData',
            onSubmit: function (param) {
            },
            success: function (data) {
                QBO.dia.msg(data.Msg, {
                    icon: data.Result === 100 ? 'right' : 'error',
                    endCallback: function () {
                        if (data.Result === 100) { QBO.frm.closeWin(function () { QBO.frm.getWin().reloadGridData(); }); }
                    }
                });
            }
        });
    }

    function btnTypeChg(newValue, oldValue) {
        $('#ButtonName').combobox('setValue', newValue.length > 0 ? $('#ButtonName').combobox('getText') : '');
    }

    //设置图标
    function setIcon(iconObj) {
        $('#IconName').textbox('setValue', iconObj.name).textbox({ buttonIcon: iconObj.name });
        $('#IconPath').val(iconObj.path);
    }
</script>