@{
    ViewBag.Title = "EChartIndex";
    Layout = "~/Views/BasePage/_LayoutMsSysEmpty.cshtml";
}

@*@using Dos.ORM.Model.Business;*@

<link href="~/Content/Components/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/Content/Components/echars/css/style.min.css" rel="stylesheet" />
<script src="~/Content/Components/AngularJS/angular.min.js"></script>

<script src="~/Content/Components/DatePicker/Js/calendarInit.js"></script>

<script src="~/Content/Components/echars/echarts.js"></script>
<script src="~/Content/Components/echars/theme/walden.js"></script>

<style type="text/css">
    body {
        background-color: rgb(240, 245, 246);
    }

    .ibox-title {
        padding: 5px 5px;
        min-height: 40px;
    }

    .ibox-content {
        padding: 5px 5px;
        height: auto;
    }

    .ibox_echart {
        min-height: 300px;
    }


    .ibox-body {
        position: absolute;
        top: 5px;
        width: 100%;
        height: 99%;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>

<div ng-app="pageApp" ng-controller="pageCtrl">

    <div class="container-fluid ibox-body">

        <div class="row">

            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">

                <div class="ibox-title form-inline " style="text-align: left;">

                    <div class="input-group">
                        试验类型：
                        <select id="F_ItemType" style="width:150px;padding: 5px 2px;line-height: 1.2; background-color: #fff; border: 1px solid #ccc;"
                                ng-model="queryCon_One.ItemCode" ng-change="queryEchartOne()">
                            <option value="{{list.TypeCode}}" ng-repeat="list in item_Data" ng-selected="list.TypeCode==queryCon_One.ItemCode">{{list.TypeName}}</option>
                        </select>

                        @*<select id="F_ItemType" ng-model="queryCon_One.ItemCode" ng-change="queryEchartOne()"
                                style="width:150px;padding: 5px 2px;line-height: 1.2; background-color: #fff; border: 1px solid #ccc;">
                            @{
                                foreach (var item in ((ViewBag.ItemType) as List<BUS_StatisticsType>))
                                {
                                    <option value="@item.TypeCode" selected>@item.TypeName</option>

                                }
                            }
                        </select>*@

                        @*<select id="F_ItemType" class="easyui-combobox" data-options="editable:false,required:false,panelHeight:500," style="width:150px">
                            @foreach (var item in ((ViewBag.ItemType) as List<BUS_StatisticsType>))
                            {
                                <option value="@item.TypeCode">@item.TypeName</option>
                            }
                        </select>*@

                        @*<select id="F_ItemType" ng-model="queryCon_One.ItemCode" class="easyui-combobox" style="width: 150px;"
                            data-options="
                                url:'\\MsSys\\Module\\GetStatisticsType',
                                method:'get',
                                valueField:'TypeCode',
                                textField:'TypeName',
                                editable:false,
                                required:false,
                                panelHeight:500"></select>*@
                    </div>

                    <span class="titleFont">年度：</span>

                    <input id="F_ItemYear" type="text" class="Wdate" readonly="readonly" ng-model="queryCon_One.Year"
                           style="width:60px;padding: 5px 5px;border-radius: 3px; line-height: 1.3; background-color: #fff; border: 1px solid #ccc;"
                           onfocus="WdatePicker({ dateFmt: 'yyyy', onpicked: onPicked_OneFunc })" />

                    @*<input id="F_ItemYear" type="text" ng-model="queryCon_One.Year" onfocus="dateChoose.click(22);" readonly="readonly"
                           style="width:60px;padding: 5px 5px;border-radius: 3px; line-height: 1.3; background-color: #fff; border: 1px solid #ccc;" />*@

                    <div class="input-group">
                        <span class="input-group-btn">
                            <a href="javascript:;" ng-click="queryEchartOne()"
                               class="easyui-linkbutton" data-options="iconCls:'fa fa-search-plus',plain:false">查询</a>

                        </span>
                    </div>
                </div>


                <div class="ibox-content">
                    <div id="div_one" class="ibox_echart" ng-if="eChart_OneData.Result">
                    </div>
                    <div class="ibox_echart" ng-if="!eChart_OneData.Result">
                        <p class="text-center" style="font-size: 18px; padding-top: 150px; text-align: center">无数据！</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">

                <div style="height: 10px">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" style="position: inherit">

                <div class="ibox-title form-inline" style="text-align: left;">

                    <span class="titleFont">月份：</span>
                    <input id="F_ItemMonth" type="text" class="Wdate" readonly="readonly" ng-model="queryCon_Two.Month"
                           style="width:80px;padding: 5px 5px;border-radius: 3px; line-height: 1.3; background-color: #fff; border: 1px solid #ccc;"
                           onfocus="WdatePicker({ dateFmt: 'yyyy-MM', onpicked: onPicked_TwoFunc })" />

                    @*<input id="F_ItemMonth" type="text" ng-model="queryCon_Two.Month" onfocus="dateChoose.click(23);" readonly="readonly"
                           style="width:80px;padding: 5px 5px;border-radius: 3px; line-height: 1.3; background-color: #fff; border: 1px solid #ccc;" />*@
                    
                    <div class="input-group">
                        <span class="input-group-btn">
                            <a href="javascript:;" ng-click="queryEchartTwo()"
                               class="easyui-linkbutton" data-options="iconCls:'fa fa-search-plus',plain:false">查询</a>
                        </span>
                    </div>

                </div>

                <div class="ibox-content">
                    <div id="div_two" class="ibox_echart" ng-if="eChart_TwoData.Result">
                    </div>
                    <div class="ibox_echart" ng-if="!eChart_TwoData.Result">
                        <p class="text-center" style="font-size: 18px; padding-top: 150px; text-align: center">无数据！</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>


<script type="text/javascript">

    var TargetId = '@ViewBag.TargetId';
         
    $(function () {

    });

    //初始化Angular
    var pageApp = angular.module('pageApp', []);
    pageApp.controller('pageCtrl', function ($scope, $http, $timeout) {
        initNgData($scope, $http);
        initNgEvent($scope, $http, $timeout);
    });

    //初始化ng数据
    function initNgData($scope, $http) {

        $scope.item_Data =[];
        $scope.eChart_OneData = { Result: true };
        $scope.eChart_TwoData = { Result: true };

        var date = new Date();
        var Year = date.getFullYear();
        var Month = date.getMonth() + 1;
        if (Month < 10) {
            Month = "0" + Month;
        }

        $scope.queryCon_One = { TargetId: TargetId, ItemCode: '', Year: Year };
        $scope.queryCon_Two = { TargetId: TargetId, Month: Year + '-' + Month };

        LoadItem_Data($scope, $http);
    }

    //初始化ng事件
    function initNgEvent($scope, $http, $timeout) {

        $scope.queryEchartOne = function () {
            LoadECharts_OneData($scope, $http, $timeout);
        };

        $scope.queryEchartTwo = function () {
            LoadECharts_TwoData($scope, $http, $timeout);
        };

    }

    //试验类型
    function LoadItem_Data($scope, $http) {   
        QBO.plu.ng.http({ http: $http, isLoad: false, url: '/MsSys/Module/GetStatisticsType' }, function (data) {
            $scope.item_Data = data;
            if ($scope.item_Data.length > 0) {
                $scope.queryCon_One.ItemCode = $scope.item_Data[0].TypeCode;
            }
            //console.log(JSON.stringify(data))
        });
    }


    //按年份
    function LoadECharts_OneData($scope, $http, $timeout) {
        
        if ($scope.queryCon_One.ItemCode == '') {
            QBO.dia.msg('试验类型不能为空！', 'error');
            return;
        }

        $scope.queryCon_One.Year = $('#F_ItemYear').val();

        QBO.plu.ng.http({ http: $http, isLoad: false, chkLogin: true, url: '/MsSys/Module/GetEChartsReportByItem', params: $scope.queryCon_One }, function (data) {
            $scope.eChart_OneData = JSON.parse(data);
            if ($scope.eChart_OneData.Result) {
                $timeout(function () {
                    setOption_OneData($scope);
                });
            }
        });
    }

    //按年份
    function LoadECharts_TwoData($scope, $http, $timeout) {

        $scope.queryCon_Two.Month = $('#F_ItemMonth').val();

        QBO.plu.ng.http({ http: $http, isLoad: false, chkLogin: true, url: '/MsSys/Module/GetEChartsReportByMonth', params: $scope.queryCon_Two }, function (data) {
            $scope.eChart_TwoData = JSON.parse(data);
            if ($scope.eChart_TwoData.Result) {
                $timeout(function () {
                    setOption_TwoData($scope);
                });
            }
        });
    }

    function setOption_OneData($scope) {
        $scope.eChart_OneData.ECharts.toolbox = {
            show: true,
            feature: {
                dataView: {
                    show: true,
                    readOnly: true,
                    lang: [$scope.eChart_OneData.ECharts.title.text, '关闭', '刷新'],
                    optionToContent: function (opt) {
                        var series = opt.series;
                        var table = '<div style="height: 100%;overflow-y:auto"><table class="table table-striped table-condensed" >'
                                    + '<thead><tr><th>月份</th>'
                                    + '<th>' + series[0].name + '</th>'
                                    + '<th>' + series[1].name + '</th>'
                                    + '</tr></thead>';

                        table += '<tbody>';
                        for (var i in series[0].data) {
                            table += '<tr>'
                                  + '<td>' + series[0].data[i].name + '</td>'
                                  + '<td>' + series[0].data[i].value + '</td>'
                                  + '<td>' + series[1].data[i].value + '</td>'
                                  + '</tr>';
                        }

                        table += '</tbody></table></div>';
                        return table;

                    }
                },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: {
                    show: true,
                    backgroundColor: 'white'
                }
            }
        };
        var myChart_One = echarts.init(document.getElementById('div_one'), "walden");

        myChart_One.setOption($scope.eChart_OneData.ECharts);

    }

    function setOption_TwoData($scope) {
        $scope.eChart_TwoData.ECharts.toolbox = {
            show: true,
            feature: {
                dataView: {
                    show: true,
                    readOnly: true,
                    lang: [$scope.eChart_TwoData.ECharts.title.text, '关闭', '刷新'],
                    optionToContent: function (opt) {
                        var series = opt.series;
                        var table = '<div style="height: 100%;overflow-y:auto"><table class="table table-striped table-condensed" >'
                                    + '<thead><tr><th>试验类型</th>'
                                    + '<th>' + series[0].name + '</th>'
                                    + '<th>' + series[1].name + '</th>'
                                    + '</tr></thead>';

                        table += '<tbody>';
                        for (var i in series[0].data) {
                            table += '<tr>'
                                  + '<td>' + series[0].data[i].name + '</td>'
                                  + '<td>' + series[0].data[i].value + '</td>'
                                  + '<td>' + series[1].data[i].value + '</td>'
                                  + '</tr>';
                        }

                        table += '</tbody></table></div>';
                        return table;

                    }
                },
                magicType: { show: true, type: ['line', 'bar'] },
                restore: { show: true },
                saveAsImage: {
                    show: true,
                    backgroundColor: 'white'
                }
            }
        };

        var myChart_Two = echarts.init(document.getElementById('div_two'), "walden");

        myChart_Two.setOption($scope.eChart_TwoData.ECharts);

    }

    function ModuleQuery(data) {
        //alert("查询数据" + JSON.stringify(data));
        var appElement = document.querySelector('[ng-controller=pageCtrl]');
        var $scope = angular.element(appElement).scope();
        $scope.queryCon_One.TargetId = data.TargetId;
        $scope.queryCon_Two.TargetId = data.TargetId;
        $scope.$apply();
        $scope.queryEchartOne();
        $scope.queryEchartTwo();
    }

    function onPicked_OneFunc() {
        var appElement = document.querySelector('[ng-controller=pageCtrl]');
        var $scope = angular.element(appElement).scope();
        $scope.$apply();
        $scope.queryEchartOne();
    }

    function onPicked_TwoFunc() {
        var appElement = document.querySelector('[ng-controller=pageCtrl]');
        var $scope = angular.element(appElement).scope();
        $scope.$apply();
        $scope.queryEchartTwo();
    }



</script>